.main-section-speakers {
  background-color: #fff;
}

.main-section-speakers-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.2rem 0 3rem 0;
}

.main-section-speakers-title {
  text-align: center;
}
