/* -----------------  SECTION-HEADER - START -------------------- */
.section-header {
  padding-top: 3rem;
  position: relative;
}

.section-header::before {
  content: "";
  background-image: url(../images/header-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section-header-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: $secondary-font;
  padding-bottom: 3.5rem;
}

.section-header-title {
  padding-top: 3rem;
  color: $red-color;
  font-size: 26px;
  font-weight: 500;
}

.section-header-second-title {
  padding-top: 0.5rem;
  font-size: 35px;
  background-image: url(../images/palms.jpeg);
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}

.section-header-text-content {
  color: $dark-color;
  opacity: 0.7;
  margin-top: 1.7rem;
  padding: 1rem;
  background-color: #f1f1f1;
  border: 2px solid #fff;
}

.section-header-third-title {
  color: $dark-color;
  margin-top: 1.5rem;
  opacity: 0.6;
}

.section-header-info {
  color: $dark-color;
  opacity: 0.7;
  margin-top: 0.5rem;
}

/* -----------------  SECTION-HEADER - END -------------------- */

/*
    ===============================================================
        ****** SECTION-HEADER - MEDIA QUERY min-width 768px *****
    ===============================================================
*/

@media only screen and (min-width: 768px) {
  .section-header {
    padding-top: 8rem;
    position: relative;
  }

  .section-header-content {
    width: 80%;
  }

  .section-header-text-content {
    width: 50%;
  }
}
